
<%= form_for(@urlmapper) do |f| %>
  <% if @urlmapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@urlmapper.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @urlmapper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-4">
    <%= f.text_field :url, :class=>"form-control" , placeholder: "Url"%>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-info" %>
  </div>

<% end %>
