
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Original Url</th>
      <th>Shorted Url</th>
      <th>Visit Count</th>
    </tr>
  </thead>
  <tbody>
  	<%@urlmappers.each_with_index do |urlmapper,ind|%>
	    <tr>
	      <th scope="row"><%= (ind+1)%></th>
	      <td style="word-wrap: break-word;"><%= urlmapper.url %></td>
	      <td><a target="_blank" href="<%= host_uri+urlmapper.tinyurl%>"><%= host_uri+urlmapper.tinyurl%></a></td>
	      <td><span class="badge"><%= urlmapper.visit_count %></span></td>
	    </tr>
		<%end%>
	</tbody>
</table>
